body{ 
    margin: 0; // set margin to zero to remove white areas
    padding: 0;
}

#game-screen {
    display: block; // set color to the whole screen
}

#gameOver {
    position: absolute;
    visibility: hidden;
}

h1, h3 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-allign: center;
}

.title {
    font-size: 62px;
    margin-bottom: 0px;
}

#restartButton {
    border: 2px solid white;
    border-radius: 10px;
}
#restartButton: hover {
    background-color: #009900;

}