body{ 
    margin: 0; // set margin to zero to remove white areas
    padding: 0;
}

#game-screen {
    display: block; // set color to the whole screen
}

#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 { //change the fonts of h1 and h3 to the Google fonts, centered and white color 
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-align: center;
}

.title {
    font-size: 62px; // Make the font size 62 pixels
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid white;
    border-radius: 10px; // Make the corners rounded
}
#restartButton:hover {
    background-color: #009900;

}

#scoreboard {
    margin: 0px;
}